<div class="container">
  <div class="row">
    <div class="col-xs-9 col-md-5 col-lg-3">
      <div class="block" style="background: #CC4A14"></div>
    </div>
    <div class="col-xs-3 col-md-7 col-lg-9">
      <div class="block" style="background: #99583D"></div>
    </div>
    <div class="col-xs-7 col-md-7 col-lg-5">
      <div class="block" style="background: #40FF40"></div>
    </div>
    <div class="col-xs-5 col-md-5 col-lg-7">
      <div class="block" style="background: #FF0000"></div>
    </div>
    <div class="col-xs-8 col-md-8 col-lg-12">
      <div class="block" style="background: #54CC14"></div>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-6">
      <div class="block" style="background: #14AFCC"></div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-6">
      <div class="block" style="background: #3D8A99"></div>
    </div>
    <div class="col-xs-6 col-md-8 col-lg-7">
      <div class="block" style="background: #00FF9A"></div>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-5">
      <div class="block" style="background: #FF4440"></div>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-1">
      <div class="block" style="background: #CC216B"></div>
    </div>
    <div class="col-xs-7 col-md-8 col-lg-11">
      <div class="block" style="background: #7040FF"></div>
    </div>
    <div class="col-xs-5 col-md-12 col-lg-12">
      <div class="block" style="background: #2124CC"></div>
    </div>
  </div>
</div>